<div class = "task-show-wrapper">
  <p class ="task-specific-categories-header"><i class="fa-solid fa-list-check"></i> Task on "<%=@task.category.title%>"</p>
  <div class ="task-date-wrapper">
    <p class = "task-description-show">📌︎ <%= @task.description %></h1>
    <p class = "task-due-date-show">Due Date:</i> <%= @task.due_date %></p>
  </div>
    <div class = "edit-delete-wrapper-tasks-show" >
      <%= link_to edit_category_task_path(@category, @task), class: 'edit-link-button' do %>
        <i class="fa-solid fa-pen"></i>
      <%end%>
      <%= link_to category_task_path(@category, @task), class: 'delete-link-button', data: {
                            turbo_method: :delete,
                            turbo_confirm: "Are you sure?"
                          } do %>
          <i class="fa-solid fa-trash-can"></i>
      <%end%>
    </div>
</div>
<div>
  <%= link_to 'Home', categories_path, class: "home-link-tasks-show" %>
</div>
<div>
  <%= link_to "Back to '#{@category.title}' ", category_path(@category), class: 'home-link-tasks-show' %>
</div>